<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Athene" version="3.0.1" targetFramework="net462" />
  <package id="Athene.Components.Contexts" version="3.0.1" targetFramework="net462" />
  <package id="Athene.Components.Interpolators" version="3.0.1" targetFramework="net462" />
  <package id="Athene.Components.Tokenizers" version="3.0.1" targetFramework="net462" />
  <package id="Athene.Extensions" version="3.0.1" targetFramework="net462" />
  <package id="Athene.Parameters" version="3.0.1" targetFramework="net462" />
  <package id="dnlib" version="3.3.1" targetFramework="net452" />
  <package id="Synergize" version="0.1.0" targetFramework="net452" />
</packages>